.checkout {
  display: flex;
  background-color: white;
  height: max-content;
}

.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.checkout__title {
  margin-right: 10px;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.checkout__left {
  display: flex;
  flex-direction: column;
}

.itemBasket {
  align-items: center;
  color: #ff9f00;
  margin-right: 25px;
}
